html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #8da798;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.index {
  position: relative;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.main-wrapper {
  min-width: 860px;
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 2.25%;
}

.body-slides {
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 271px;
  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  color: #ffffff;
}

.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  padding: 10px 22px 12px 22px;
  border-radius: 30px;
  background: linear-gradient(to top, #f26843, #e74a35);
  border: none;
  box-shadow: 0 2px 2px #ac1000;
  font-family: "Roboto";
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.btn:hover {
  background: linear-gradient(to top, #f58669, #ec6f5e);
}

.btn:active {
  background: linear-gradient(to top, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn {
  display: inline-block;
  vertical-align: top;
  margin: 0 28.5%;
  padding: 8px 42px 12px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  font-size: 32px;
  line-height: 44px;
  border-radius: 50px;
}

.body-slides .slides {
  display: none;
}

.slide-switch:nth-of-type(1):checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/main-background-1.png);
}

.slide-switch:nth-of-type(2):checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/main-background-2.png);
}

.slide-switch:nth-of-type(3):checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/main-background-3.png);
}

.slide-switch {
  display: none;
}

.controls-wrap.main-wrapper {
  margin-bottom: 40px;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 2px;
  z-index: 2;
  font-size: 0;
}

.controls label {
  display: inline-block;
  vertical-align: top;
  height: 17px;
  width: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.controls label:last-child {
  margin-right: 0;
}

.site-wrapper label:active,
.slide-switch:nth-of-type(1):checked ~ .site-wrapper label[for="slide-1"],
.slide-switch:nth-of-type(2):checked ~ .site-wrapper label[for="slide-2"],
.slide-switch:nth-of-type(3):checked ~ .site-wrapper label[for="slide-3"] {
  background-color: #ffffff;
  transition: background-color 0.5s ease;
}

.site-wrapper label[for="slide-1"]:hover,
.site-wrapper label[for="slide-2"]:hover,
.site-wrapper label[for="slide-3"]:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.5s ease;
}

.slide-switch:nth-of-type(1):checked ~ .site-wrapper .slide-1,
.slide-switch:nth-of-type(2):checked ~ .site-wrapper .slide-2,
.slide-switch:nth-of-type(3):checked ~ .site-wrapper .slide-3 {
  display: block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  font-size: 0;
}

.hidden {
  display: none;
}

.main-header {
  color: #ffffff;
}

.header-row-first {
  padding-top: 23px;
}

.index-logo {
  float: left;
  margin-top: -14px;
}

.index-logo img {
  width: 154px;
  height: 64px;
  margin-bottom: -4px;
}

.main-navigator {
  float: left;
  width: 410px;
  padding: 0 12px;
}

.main-navigator ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigator li {
  display: inline-block;
  vertical-align: top;
}

.main-menu > li {
  position: relative;
  padding-bottom: 10px;
}

.main-menu > li > a {
  display: block;
  padding: 8px 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

.main-menu .sub-menu {
  position: absolute;
  z-index: 1;
  top: 37px;
  left: -7px;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #f8f7f4;
  border-radius: 3px;
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.4);
}

.main-menu > li:hover .sub-menu {
  display: block;
}

.main-menu > li > a:hover {
  background-color: #f7f6f3;
  border-radius: 20px;
  color: #333333;
  text-decoration: none;
}

.main-menu > li > a:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  text-decoration: none;
}

.main-menu > li > .active,
.main-menu > li > .active:hover {
  background-color: #d07058;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
}

.sub-menu a {
  display: block;
  width: 103px;
  padding: 9px 20px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.sub-menu .main-link {
  position: relative;
  padding: 10px 20px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #323232;
}

.sub-menu .main-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  display: block;
  height: 1px;
  width: 90%;
  background-color: #d1d0ce;
}

.sub-menu a:hover {
  background: #fbded7;
}

.sub-menu .active,
.sub-menu .active:hover {
  background-color: #d07058;
  color: #ffffff;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

.user-block {
  float: right;
  width: 265px;
  text-align: right;
  padding-top: 9px;
  font-size: 0;
}

.search,
.enter,
.cart {
  position: relative;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.user-block div:last-child {
  margin-right: 0;
}

.user-block a::before {
  content: "";
  position: absolute;
  background: transparent url("../img/sprites.png") no-repeat;
}

.user-block .search {
  padding: 20px 16px 12px;
  font-size: 0;
}

.user-block .search::before {
  background-position: -10px -208px;
  width: 17px;
  height: 17px;
  top: 7px;
  left: 8px;
}

.user-block .search:hover::before {
  background-position: -8px -108px;
}

.user-block .enter {
  padding: 8px 16px 7px 45px;
}

.user-block .enter::before {
  background-position: -58px -54px;
  width: 21px;
  height: 19px;
  top: 7px;
  left: 17px;
}

.user-block .enter:hover::before {
  background-position: -56px -7px;
}

.user-block .enter:hover {
  color: #323232;
}

.user-block .cart {
  padding: 8px 34px 7px 45px;
}

.user-block .cart::before {
  background-position: -54px -304px;
  width: 21px;
  height: 20px;
  top: 7px;
  left: 16px;
}

.header-contacts {
  float: right;
  width: 293px;
}

.header-contacts span {
  display: block;
  text-align: right;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.header-contacts .phone {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.stock {
  margin-bottom: 40px;
}

.banner {
  width: 48.85%;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 23px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 12px;
}

.banner.left {
  float: left;
  margin-right: 2.3%;
}

.banner.right {
  float: right;
}

.stock .banner {
  position: relative;
}

.stock .left {
  background-color: #6f0919;
  background-image: url(../img/banner-left-bg.jpg);
  background-repeat: repeat-y;
}

.stock .right {
  background-color: #523326;
  background-image: url(../img/banner-right-bg.jpg);
  background-repeat: repeat-y;
}

.stock-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.stock p {
  margin-top: 17px;
  margin-bottom: 44px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
  min-height: 87px;
}

.stock .btn {
  position: absolute;
  right: 20px;
  bottom: 23px;
}

.product {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.product li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 23.23%;
  margin-right: 1.15%;
  margin-left: 1.15%;
  margin-bottom: 40px;
}

.product-name::after {
  content: url(../img/mark-hit.png);
  position: absolute;
  top: 0;
  left: 0;
}

.inner-page .product-name::after {
  display: none;
}

.product li:nth-child(4n) {
  margin-right: 0;
}

.product li:nth-child(4n+1) {
  margin-left: 0;
}

.product li:hover {
  position: relative;
  top: -10px;
  z-index: 2;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: -50px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding-left: 1.15%;
  padding-right: 1.15%;
  padding-top: 10px;
  padding-bottom: 80px;
}

.product li:nth-child(4n):hover {
  margin-right: -1.15%;
}

.product li:nth-child(4n+1):hover {
  margin-left: -1.15%;
}

.product li .btn {
  display: none;
  position: absolute;
  bottom: 17px;
  left: 50%;
  margin-left: -100px;
  padding-left: 15px;
  padding-right: 15px;
}

.product li:hover .btn {
  display: block;
}

.product li:hover a {
  text-decoration: none;
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 6px;
  border-radius: 50%;
}

.product-name {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.product-description {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
}

.product-name:hover .product-description,
.product-name:active .product-description {
  color: #ffbc9e;
}

.price-position-wrap {
  position: relative;
}

.product .price {
  position: absolute;
  top: 75%;
  left: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 1px 1px 3px #313235;
}

.product span:nth-child(1) {
  font-size: 45px;
}

.product span:nth-child(2) {
  font-size: 28px;
}

.promo-info {
  margin-bottom: 40px;
  border-radius: 12px;
  background-color: #ebddc1;
  background-image: url(../img/promo-info-pattern.jpg);
  background-repeat: repeat;
  padding: 25px 18px;
}

.promo-info-title {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.promo-info .row {
  display: table-row;
}

.promo-info p {
  display: table-cell;
  position: relative;
  padding-left: 55px;
  padding-top: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.promo-info p:nth-child(1) {
  width: 51%;
  padding-right: 2%;
}

.promo-info p:nth-child(2) {
  width: 49%;
}

.promo-info p::before {
  position: absolute;
  top: 7px;
  left: 0;
}

.promo-info .promo-equipment::before {
  content: url(../img/promo-info-image-1.png);
}

.promo-info .promo-ingredients::before {
  content: url(../img/promo-info-image-2.png);
}

.promo-info .promo-ecology::before {
  content: url(../img/promo-info-image-3.png);
}

.promo-info .promo-delivery::before {
  content: url(../img/promo-info-image-4.png);
}

.news-block {
  margin-bottom: 40px;
}

.news-block .left {
  min-height: 220px;
  background-color: #ffffff;
  background-image: url(../img/news-banner-left-bg.jpg);
  background-repeat: no-repeat;
  background-position: 10% 40%;
}

.news-block h3 {
  margin-top: 7px;
  margin-bottom: 5px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.news-block a {
  display: block;
  width: 295px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  background: rgba(255, 255, 255, 0.4);
}

.news-block a:hover,
.news-block a:active {
  color: #ec593c;
}

.news-block .right {
  height: 100%;
  background-color: #95ceff;
  background-image: url(../img/news-banner-right-pattern.jpg);
  background-repeat: repeat;
  padding: 5px;
}

.news-block p {
  margin: 0;
  margin-bottom: 16px;
  min-height: 83px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.news-block .banner-right-bg {
  position: relative;
  min-height: 145px;
  padding: 30px 21px 35px;
  background-color: #f8f7f4;
  border-radius: 12px;
}

.news-block .mail {
  position: relative;
  padding-right: 140px;
  vertical-align: bottom;
}

.news-block .btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px 19px 11px 19px;
}

.news-block input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  padding-left: 14px;
  border: 1px solid #f3f3f2;
}

.news-block input[placeholder] {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.wrap-map {
  position: relative;
  min-width: 900px;
  max-width: 100%;
  height: 430px;
  background-image: url(../img/map-static.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-map .main-wrapper {
  position: relative;
  height: 100%;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 900px;
  width: 100%;
  height: 430px;
}

.map-contacts {
  position: absolute;
  width: 252px;
  max-height: 260px;
  overflow-y: auto;
  right: 2.25%;
  top: 63px;
  background-color: #fdfefe;
  border-radius: 12px;
  padding: 31px 25px;
}

.map-contacts p {
  margin-bottom: 23px;
  margin-top: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #343434;
}

.map-contacts b {
  display: block;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #343434;
}

.map-contacts .btn {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.main-footer {
  margin-top: 36px;
  padding-bottom: 29px;
  text-align: center;
}

.footer-social {
  float: left;
  width: 235px;
  font-size: 0;
  text-align: left;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 11px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(../img/sprites.png);
  background-repeat: no-repeat;
  background-clip: padding-box;
  opacity: 0.7;
}

.icon-twitter::before {
  background-position: -1px -50px;
}

.icon-fb::before {
  background-position: -4px -249px;
}

.icon-instagram::before {
  background-position: -3px -147px;
}

.icon-vk::before {
  background-position: 0 0;
}

.social-btn:hover::before {
  opacity: 1;
}

.social-btn:active::before {
  box-shadow: inset 0 2px 1px rgba(90, 96, 90, 1);
  border-radius: 50%;
}

.footer-menu {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  margin: 0 auto;
  text-align: left;
}

.footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.footer-menu li {
  display: inline-block;
  vertical-align: top;
}

.footer-menu li:nth-child(2n+1) {
  width: 41%;
}

.footer-menu a {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-menu a:hover,
.footer-menu a:active {
  color: #ffbc9e;
}

.heart-mark {
  position: relative;
}

.footer-menu .heart-mark::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;
  width: 15px;
  height: 13px;
  background-image: url(../img/sprites.png);
  background-repeat: no-repeat;
  background-position: -9px -356px;
}

.footer-copyright {
  float: right;
  width: 190px;
  margin-left: 20px;
  text-align: left;
}

.footer-copyright img {
  width: 108px;
  height: 37px;
  margin-top: -17px;
}

.footer-copyright p {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright a {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright a:hover,
.footer-copyright a:active {
  color: #ffbc9e;
}


/*item-page*/

.inner-page .cart::before {
  background-position: -55px -255px;
}

.inner-page .cart {
  padding-right: 15px;
  color: #323232;
  background-color: #f7f6f3;
}

.breadcrumbs {
  float: left;
  margin: 0;
  margin-top: 24px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs li::after {
  content: "»";
  margin-right: 8px;
  margin-left: 8px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs li:last-child:after {
  content: "";
}

.breadcrumbs a {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs .current {
  text-decoration: none;
}

.inner-page header {
  margin-bottom: 0;
}

.inner-page h1 {
  margin: 0;
  margin-bottom: 26px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.sort {
  width: 860px;
  font-size: 0;
}

.sort label {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.sort legend {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  ;
  padding: 0;
  margin-bottom: 5px;
  margin-left: 15px;
}

.sort-wrap {
  display: inline-block;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 8px 0 8px 16px;
  margin-right: 14px;
}

.sort fieldset {
  display: inline-block;
  vertical-align: top;
  border: none;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.sort .type-3 {
  margin-right: 0;
}

.sort .type-1 {
  position: relative;
  width: 178px;
  height: 20px;
  padding-right: 15px;
  padding-left: 0;
}

.select-arrow {
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid #ffffff;
  right: 15px;
  top: 16px;
}

.sort .type-1 select {
  width: 192px;
  padding-bottom: 10px;
  padding-left: 15px;
  border: 0;
  background: transparent;
  outline: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.sort .type-1 select::-ms-expand {
  display: none;
}

.sort .type-1:hover {
  color: #343434;
}

.sort .type-1:hover {
  background: #ffffff;
}

.sort .type-1:hover .select-arrow {
  border-top: 7px solid #343434;
}

.sort .type-1:hover select {
  color: #343434;
}

.sort .type-2 {
  position: relative;
  width: 190px;
  height: 20px;
  padding: 16px 15px 0 15px;
}

.range {
  position: absolute;
  height: 4px;
}

.range-left {
  left: 15px;
  top: 16px;
  width: 20px;
  background-color: #c9d4cc;
}

.range-right {
  right: 15px;
  top: 16px;
  width: 50px;
  background-color: #c9d4cc;
}

.range-center {
  left: 35px;
  top: 16px;
  width: 120px;
  background-color: #f8f7f4;
}

.range-point {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f7f4;
}

.range-point:hover {
  width: 22px;
  height: 22px;
  top: 7px;
}

.point-left {
  left: 35px;
  top: 8px;
}

.point-right {
  right: 65px;
  top: 8px;
}

.point-left:hover {
  left: 34px;
}

.point-right:hover {
  right: 64px;
}

.sort .type-3,
.sort .type-4 {
  padding-bottom: 3px;
}

.sort input[type="checkbox"],
.sort input[type="radio"] {
  display: none;
}

.sort input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  padding-right: 20px;
}

.sort input[type="radio"] + label:last-child {
  padding-right: 16px;
}

.sort input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 19px;
  width: 19px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.sort input[type="radio"]:checked + label::after,
.sort input[type="radio"]:checked:disabled + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/sprites.png);
  background-position: -7px -302px;
  width: 21px;
  height: 22px;
}

.sort input[type="radio"]:disabled + label::after,
.sort input[type="radio"]:checked:disabled + label::after,
.sort input[type="radio"]:disabled + label::before {
  opacity: 0.7;
}

.sort input[type="radio"]:disabled + label:hover::before {
  height: 19px;
  width: 19px;
  border: 1px solid #ffffff;
  opacity: 0.7;
}

.sort input[type="radio"]:checked + label::before,
.sort input[type="radio"]:checked:disabled + label::before,
.sort input[type="radio"]:checked:disabled + label:hover::before {
  display: none;
}

.sort input[type="radio"] + label:hover::before {
  height: 18px;
  width: 18px;
  border: 2px solid #ffffff;
}

.sort input[type="radio"]:checked + label:hover::before {
  display: block;
  height: 18px;
  width: 18px;
  border: 2px solid #ffffff;
}

.sort input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  padding-left: 32px;
  padding-right: 21px;
}

.sort input[type="checkbox"] + label:last-child {
  padding-right: 18px;
}

.sort input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  border: 1px solid #ffffff;
}

.sort input[type="checkbox"]:checked + label::after,
.sort input[type="checkbox"]:checked:disabled + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/sprites.png);
  background-position: -58px -205px;
  width: 20px;
  height: 20px;
}

.sort input[type="checkbox"]:disabled + label::after,
.sort input[type="checkbox"]:checked:disabled + label::after,
.sort input[type="checkbox"]:disabled + label::before {
  opacity: 0.7;
}

.sort input[type="checkbox"]:disabled + label:hover::before {
  height: 18px;
  width: 18px;
  border: 1px solid #ffffff;
  opacity: 0.7;
}

.sort input[type="checkbox"]:checked + label::before,
.sort input[type="checkbox"]:checked:disabled + label::before,
.sort input[type="checkbox"]:checked:disabled + label:hover::before {
  display: none;
}

.sort input[type="checkbox"] + label:hover::before {
  height: 17px;
  width: 17px;
  border: 2px solid #ffffff;
}

.sort input[type="checkbox"]:checked + label:hover::before {
  display: block;
  height: 17px;
  width: 17px;
  border: 2px solid #ffffff;
}

.sort input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 15px;
  padding: 7px 27px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  outline: none;
}

.sort input[type="submit"]:hover {
  background-color: #fafbfb;
  border-color: #fafbfb;
  color: #363636;
}

.sort input[type="submit"]:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
  color: #363636;
  border: 0;
  padding: 9px 29px;
}

.inner-page .product {
  margin-top: 25px;
  margin-bottom: 40px;
}

.paginator {
  width: 267px;
  float: right;
  margin-bottom: 30px;
  font-size: 0;
  text-align: right;
}

.paginator a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  padding: 4px 9px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.paginator .prev,
.paginator .next {
  padding: 0;
  background-image: url(../img/sprites.png);
  width: 9px;
  height: 14px;
}

.paginator .prev {
  margin-right: 13px;
  background-position: -13px -406px;
}

.paginator .next {
  margin-left: 13px;
  background-position: -63px -109px;
}

.paginator .current {
  background-color: #ffffff;
  border-radius: 50%;
  color: #353535;
}

.paginator .disabled {
  opacity: 0.8;
}

.paginator a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.paginator .current:hover {
  background-color: #ffffff;
  border-radius: 50%;
}

.paginator .prev:hover,
.paginator .next:hover,
.paginator .prev:active,
.paginator .next:active {
  background-color: transparent;
  border-radius: 0;
}

.paginator a:active {
  background-color: #ffffff;
  border-radius: 50%;
  color: #353535;
}

.inner-page main::after {
  content: "";
  display: table;
  clear: both;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}


/*hover*/

.search-position-wrap,
.enter-position-wrap,
.cart-position-wrap {
  position: relative;
  float: left;
  margin-right: 10px;
  padding-bottom: 10px;
}

.search-form,
.enter-form,
.in-cart {
  display: none;
  position: absolute;
  z-index: 2;
  top: 27px;
  right: 0;
  background-color: #f8f7f4;
  border-radius: 3px;
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.4);
}

.search-form input {
  width: 300px;
  height: 37px;
  margin: 20px 15px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.search-form input[placeholder],
.enter-form input[placeholder] {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.search-position-wrap:hover .search-form {
  display: block;
}

.enter-form {
  padding: 20px 17px 21px 19px;
}

.enter-form input {
  width: 229px;
  margin-bottom: 20px;
  height: 37px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.enter-form .btn {
  padding: 10px 25px;
  float: left;
}

.enter-form .min-wrap {
  float: right;
  text-align: left;
}

.enter-form .min-wrap a {
  display: block;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.enter-form .min-wrap a:hover,
.enter-form .min-wrap a:active {
  color: #ec593c;
}

.enter-position-wrap:hover .enter-form {
  display: block;
}

.in-cart {
  width: 508px;
  padding: 20px 15px 21px 17px;
}

.in-cart table {
  border: none;
  border-collapse: collapse;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.in-cart td {
  vertical-align: middle;
  padding: 0;
  padding-right: 14px;
  padding-bottom: 18px;
}

.in-cart td:nth-child(3) {
  width: 49%;
  text-align: left;
}

.in-cart tr:nth-child(3) > td {
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: right;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  border-top: 1px solid #cacac7;
}

.in-cart button {
  width: 11px;
  height: 11px;
  font-size: 0;
  padding: 0;
  margin: 0;
  background-image: url(../img/sprites.png);
  background-position: -61px -158px;
  background-repeat: no-repeat;
  background-color: #f8f7f4;
  border: none;
  cursor: pointer;
}

.in-cart img {
  border-radius: 50%;
}

.in-cart .btn {
  float: right;
  padding: 10px 14px;
}

.in-cart span {
  color: #8f8f8f;
  font-style: normal;
}

.cart-position-wrap:hover .in-cart {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrap-call-back {
  position: fixed;
  z-index: 4;
  width: 427px;
  height: 398px;
  padding: 17px 25px 25px;
  background-color: #f8f7f4;
  border-radius: 10px;
  right: 32%;
  top: 30%;
}

.wrap-call-back h2 {
  float: left;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.call-back-close {
  float: right;
  font-size: 0;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  background-image: url(../img/sprites.png);
  background-position: -59px -359px;
  width: 18px;
  height: 17px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.wrap-call-back input {
  width: 249px;
  height: 40px;
  margin-bottom: 20px;
  padding: 1px;
  padding-left: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.wrap-call-back input[type="text"]:hover {
  border: 2px solid #d3d3d2;
  padding: 0;
  padding-left: 14px;
}

.wrap-call-back input[type="text"]:focus {
  border: 2px solid #8fbdec;
  padding: 0;
  padding-left: 14px;
}

.wrap-call-back textarea {
  max-width: 409px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  margin-bottom: 18px;
  padding: 9px 2px 0 15px;
}

.wrap-call-back input[placeholder],
.wrap-call-back textarea[placeholder] {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.wrap-call-back .btn {
  float: right;
  padding: 10px 24px;
}

.call-back-show {
  display: block;
  animation-name: call-back;
  animation-duration: 0.2s;
}

.overlay-show {
  display: block;
  animation-name: overlay;
  animation-duration: 0.2s;
}

@keyframes overlay {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  30% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  60% {
    background-color: rgba(0, 0, 0, 0.4);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes call-back {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
